<div class="col-md-3">
  <div class="bs-sidebar hidden-print" >
    <ul class="nav bs-sidenav">
      {% for sect in site.sections %}
      {% for pg in site.pages %}      
          {% if pg.keyword == sect %}
          <li {% if page.url == pg.url %}class="active"{% endif %}><a href="{{site.baseurl}}{{ pg.url }}">{{ sect }}</a> </li>        
          {% endif %}        
        {% endfor %}
        <ul class="nav">
          {% for pg in site.pages %}
            {% if pg.section == sect %}
            <li {% if pg.url == page.url %}class="active"{% endif %}  ><a href="{{site.baseurl}}{{ pg.url }}">{{ pg.title }}</a> </li>          {% endif %}        
            {% endfor %}        
          </ul>        
      {% endfor %}
        <li><a href="{{ site.discussion }}">discussion</a></li>
    </ul>
  </div>
</div>
